<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mypersonalstyle.css') }}">
    <title>Dashboard</title>

  </head>
   <script src="{{ url_for('static',filename='js/dashboard.js') }}"></script>
  <body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <div class="w3-row">

     <div class="w3-quarter w3-container overflow">
       <div>
        <h2 class="float-left">Groups</h2>
        <button onclick="document.getElementById('group_form').style.display='block'" class="w3-button w3-black float-right" style="margin-top:5%;">+</button>
      </div>
      <div class="clear"></div>

        <div class="group-card" style="width:100%;">
            <h5>All</h5>
        </div>
        {% if groups %}
          {% for group in groups %}

             <div class="group-card" style="width:100%;">
                 <h5>{{ group['title'] }}</h5>

             </div>
          {% endfor %}
         {% endif %}
       </div>

     <div class="w3-half w3-container overflow">
        <div>
          <h2 class="float-left">Cards</h2>
         <button onclick="document.getElementById('card_form').style.display='block'" class="w3-button w3-black float-right" style="margin-top:2%;">+</button>
       </div>
       <div class="clear"></div>

      <div id="card_container" class="w3-row">

      </div>
     </div>


      <div class="w3-quarter w3-container">
        <button class="w3-button w3-black"> Pratice </button>
      </div>
      <div class="clear"></div>

   </div>
   <div class="footer">
     <p>having fun</p>
   </div>


      <!-- Modal to create a card -->
      <div id="card_form" class="w3-modal w3-card">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('card_form').style.display='none'" class="w3-button w3-display-topright">&times;</span>

            <form class="w3-container w3-margin" method="post" action="/card">
            <input type=hidden name="group" id="ipt_group_id" type="text">
             <label>Title</label>
             <input id="iptTitle"class="w3-input w3-border-0" type="text" name="title">
             <label>Content</label>
             <input id="iptContent"class="w3-input w3-border-0" type="textarea" name="content">
             <label>Hint</label>
             <input id="iptHint"class="w3-input w3-border-0" type="text" name="hint">
            <button id="iptCreateCard"class="w3-btn w3-blue-grey">Create</button>
            </form>
          </div>
        </div>
      </div>
      <!-- Modal to create a group-->
      <div id="group_form" class="w3-modal w3-card">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('group_form').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <form class="w3-container w3-margin" method="post" action="/group">
             <label>Title</label>
             <input class="w3-input w3-border-0" type="text" name="title">
             <label>Description</label>
             <input class="w3-input w3-border-0" type="textarea" name="description">
            <button class="w3-btn w3-blue-grey">Create</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
