<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mypersonalstyle.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/slide.css') }}">

    <title>Dashboard</title>
  </head>
  <script src="{{ url_for('static',filename='js/pratice.js') }}"></script>

  <body>
<div class="w3-row">
  <div class ="w3-quarter w3-margin-top">
    <h5>{{group['title']}}</h5>
    <p>{{group['description']}}</p>
  </div>
  <div class=" w3-half w3-margin-top">
    <div class="w3-content">
      {% if cards %}
        {% for card in cards %}

        <div class="w3-card-4 cards w3-white">

           <header class="w3-container w3-white w3-center ">
             <p class="w3-right">Total cards: {{cards|length}}</p>
           </header>

           <div class="w3-container w3-white">
             <h1 class="w3-center">{{ card['title'] }}</h1>
           </div>

           <footer class="w3-container w3-white">
             <p class="w3-center" id="content"></p>

           </footer>

        </div>
        {% endfor %}
       {% endif %}

    </div>

    <div class="w3-center">
      <div class="w3-section">
        <button class="w3-button w3-light-grey" id="btnPrev">❮ Prev</button>
        <button class="w3-button w3-light-grey" id="btnNext">Next ❯</button>
      </div>
    </div>
  </div>
  <div class="w3-quarter w3-margin-top">
    time lapsed

  </div>
</div>

  </body>

</html>
