<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mypersonalstyle.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/slide.css') }}">

    <title>Dashboard</title>
  </head>
  <script src="{{ url_for('static',filename='js/pratice.js') }}"></script>

  <body>
<div class="w3-row">
  <div class ="w3-quarter w3-margin-top">
    <h5 id="group">{{group['title']}}</h5>
    <p>{{group['description']}}</p>
  </div>

  <div class=" w3-half">
    <p class="w3-right">Total cards: {{cards|length}}</p>
    <br>
    <div id="cards_container" class="w3-content  w3-margin-top">

    </div>

    <div class="w3-center">
      <div class="w3-section">
        <button class="w3-button w3-light-grey" id="btnPrev">❮ Prev</button>
        <button class="w3-button w3-light-grey" id="btnNext">Next ❯</button>
      </div>
    </div>
  </div>
  <div class="w3-quarter w3-margin-top">

  </div>
</div>

  </body>

</html>
